aiodns==3.0.0
aiogram==2.22.1
aiohttp==3.8.1
aiohttp-socks==0.7.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
Babel==2.9.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
cloudscraper==1.2.58
colorama==0.4.4
commonmark==0.9.1
cryptography==36.0.1
dnspython==2.2.0
Flask==2.0.3
fluidsynth==0.2
frozenlist==1.3.0
future==0.18.2
icmplib==3.0.3
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
keyboard==0.13.5
ldap3==2.9.1
ldapdomaindump==0.9.3
MarkupSafe==2.1.0
maxminddb==2.2.0
mido==1.2.9
multidict==6.0.2
packaging==21.3
pip-review==1.2.0
psutil==5.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.1.2
pycparser==2.21
pycryptodomex==3.14.1
Pygments==2.11.2
pyOpenSSL==22.0.0
pyparsing==3.0.9
PySocks==1.7.1
pyTelegramBotAPI==4.7.0
python-rtmidi==1.4.9
python-socks==2.0.3
pytz==2022.2.1
pywin32==300
requests==2.27.1
requests-toolbelt==0.9.1
rich==11.2.0
service-identity==21.1.0
six==1.16.0
TelegramBotAPI==0.3.2
urllib3==1.26.8
Werkzeug==2.0.3
yarl==1.7.2
